@page "/attended"
@using ConcertTrackerBlazorHybridApp.Data

<h1>Attended</h1>

<CardDeck>
    <Card>
        <CardImage Source="" Alt=""></CardImage>
        <CardBody>
            <CardTitle Size="HeadingSize.Is5">Card title 1</CardTitle>
            <CardText>
                This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </CardText>
            <Button Color="Color.Primary">Button</Button>
        </CardBody>
    </Card>
    <Card>
        <CardImage Source="" Alt=""></CardImage>
        <CardBody>
            <CardTitle Size="HeadingSize.Is5">Card title 2</CardTitle>
            <CardText>
                This card has supporting text below as a natural lead-in to additional content.
            </CardText>
            <Button Color="Color.Primary">Button</Button>
        </CardBody>
    </Card>
    <Card>
        <CardImage Source="" Alt=""></CardImage>
        <CardBody>
            <CardTitle Size="HeadingSize.Is5">Card title 3</CardTitle>
            <CardText>
                This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
            </CardText>
            <Button Color="Color.Primary">Button</Button>
        </CardBody>
    </Card>
</CardDeck>

@code {
    
}
