@page "/"
@using ConcertTrackerBlazorHybridApp.Data

<h1>Hello, world!</h1>

Welcome to your new Concert Tracker App.

<ul class="list-unstyled">
    @foreach (var concert in concert)
    {
        <li>
            <input type="checkbox" @bind="concert.Attended" />
            <input @bind="concert.Artist" />
        </li>
    }
</ul>

<input placeholder="Artist" @bind="newArtist" />
<input placeholder="City" @bind="newLocation" />
<DateInput TValue="DateTime?" @bind-Value="@concertDate" />
<Switch TValue="bool" @bind-Value="@attended">Attended</Switch>
<Rating Color="Color.Primary" @bind-SelectedValue="@SelectedValue" MaxValue="5" GetTooltip="@GetTooltip" />


@code {
    public List<Concerts> concert = new();
    public string? newLocation;
    public string? newArtist;
    public DateTime? concertDate;
    public bool attended;
    int SelectedValue = 5;

    RatingTooltip GetTooltip(int value)
    {
        if (value <= 2)
            return new RatingTooltip("Very bad");
        else if (value <= 4)
            return new RatingTooltip("Bad", TooltipPlacement.Bottom);
        else if (value <= 6)
            return new RatingTooltip("Fair");
        else if (value <= 8)
            return new RatingTooltip("Good", TooltipPlacement.Top, false, false);
        else if (value <= 10)
            return new RatingTooltip("Very good");

        return null;
    }

    private void AddConcert()
    {
        if (!string.IsNullOrWhiteSpace(newArtist))
        {
            newArtist = string.Empty;
            newLocation = string.Empty;
            concertDate = null;
            attended = false;
            concert.Add(new Concerts { Artist = newArtist, Location = newLocation, Date = concertDate ?? DateTime.Now, Attended = attended });
        }

    }
}